<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="shortcut icon" href="/images/docs/favicon/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="error">
      <img src="/images/docs/404.svg" alt="404 page not found" />
      <a href="/" class="home--btn">Back to home</a>
    </main>
  </body>
</html>