<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Free E-Store API">
    <meta name="description" content="A free e-commerce rest API to practice your frontend skills, without spanding time on collecting data.">
    <meta name="keywords" content="ecommerceAPI RestAPI API REST FRONTEND PRACTICE FREEAPI ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="8 days">
    <meta name="author" content="Shanmugam M">
    <meta property="og:locale" content="en_IN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Free E-Store API">
    <meta property="og:description" content="A free e-commerce rest API to practice your frontend skills, without spanding time on collecting data.">
    <meta property="og:url" content="https://www.freeestoreapi.herokuapp.com/" />
    <meta property="og:site_name" content="Free E-Store API">
    <title>Free E-Store API</title>
    <link rel="canonical" href="https://www.freeestoreapi.herokuapp.com/">
    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/docs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/docs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/docs/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/docs/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/docs/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/docs/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Free E-Store API">
    <meta name="application-name" content="Free E-Store API">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/docs/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {# Fonts #}
    <link rel="preload" href="/css/fonts.css" as="style" />
    <link rel="stylesheet" href="/css/fonts.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__logo">
        <a href="/">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fab"
            data-icon="think-peaks"
            class="svg-inline--fa fa-think-peaks fa-w-18"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              fill="currentColor"
              d="M465.4 409.4l87.1-150.2-32-.3-55.1 95L259.2 0 23 407.4l32 .3L259.2 55.6zm-355.3-44.1h32.1l117.4-202.5L463 511.9l32.5.1-235.8-404.6z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="navbar__links" id="navbarLinks">
        <div class="navbar__link">
          <a href="https://github.com/Joker-Bat/freeestoreapi" target="_blank"
            >Github</a
          >
        </div>
        <div class="navbar__link">
          <a href="/docs">Docs</a>
        </div>
        <div class="toggler">
          <label for="toggle" class="label">
            <input type="checkbox" class="toggleInput" id="toggle" />
            <div class="toggle-btn"></div>
          </label>
        </div>
      </div>
      <div class="navbar__toggler" id="navbarToggler">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
      <span>Crafted with</span>
      <span class="footer__icon">
        <img src="/images/docs/heart.svg" alt="" />
      </span>
      <span>By SilverDev</span>
    </footer>

    <script src="/js/index.js"></script>
  </body>
</html>