* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #fd6969;
  --primary: #e4e4e4;
  --secondary: #000;
  --white: #fff;
  --text: #333;
  --black: #000;
}

[data-theme=dark] {
  --primary: #333;
  --secondary: #e6e6e6;
  --text: #dbdbdb;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Oxygen", sans-serif;
}
@media screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  transition: background-color 0.2s ease;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--main);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 20px;
  border: 2px solid var(--main);
}

.highlight {
  color: var(--main);
}

/* Navbar styles */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 37.5em) {
  .navbar {
    padding: 3rem 4rem;
  }
}

.navbar .navbar__logo {
  width: 5rem;
  height: 5rem;
}

.navbar .navbar__logo a {
  text-decoration: none;
  color: var(--main);
}

.navbar .navbar__links {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
@media screen and (max-width: 37.5em) {
  .navbar .navbar__links {
    background-color: var(--white);
    border: 1px solid red;
    width: 70%;
    height: 60%;
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -100%);
    justify-content: center;
    flex-direction: column;
    transition: transform 0.5s ease-out;
    z-index: 10;
  }
  .navbar .navbar__links.show {
    transform: translate(-50%, 45%);
  }
}

.navbar .navbar__links div:not(:last-child) {
  margin-right: 3rem;
}
@media screen and (max-width: 37.5em) {
  .navbar .navbar__links div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.navbar .navbar__links a {
  text-decoration: none;
  color: var(--main);
  padding-bottom: 1rem;
  transition: all 0.1s;
}
.navbar .navbar__links a:is(:hover, :active) {
  border-bottom: 2px solid var(--main);
}

.navbar .navbar__links .toggler {
  margin-left: 1rem;
}

.navbar__toggler {
  position: relative;
  color: var(--secondary);
  cursor: pointer;
  width: 4.4rem;
  height: 3rem;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}
.navbar__toggler.show span:nth-child(2) {
  transform-origin: center;
  transform: translateX(-120%);
}
.navbar__toggler.show span:nth-child(1) {
  transform-origin: center;
  transition-delay: 0.3s;
  transform: translateY(250%) rotate(45deg);
}
.navbar__toggler.show span:nth-child(3) {
  transform-origin: center;
  transition-delay: 0.4s;
  transform: translateY(-230%) rotate(-45deg);
}
.navbar__toggler span {
  display: block;
  width: 80%;
  height: 0.5rem;
  border-radius: 2rem;
  transition: transform 0.2s ease, background-color 0.1s ease-out;
  background-color: var(--secondary);
}
.navbar__toggler.show span {
  background-color: var(--secondary);
}
@media screen and (max-width: 37.5em) {
  .navbar__toggler {
    display: flex;
  }
}

/* DArk mode toggle */
.toggler {
  z-index: 10;
  position: relative;
}

.toggleInput {
  display: none;
}

.toggle-btn {
  cursor: pointer;
  width: 60px;
  height: 27px;
  position: relative;
  background-color: var(--secondary);
  border-radius: 20px;
  border: 1px solid var(--primary);
}

.toggle-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main);
  transition: transform 0.3s;
}

.toggleInput:checked + .toggle-btn {
  border: 1px solid var(--primary);
}

.toggleInput:checked + .toggle-btn::after {
  transform: translateX(150%);
}

.homepage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  margin: auto;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media screen and (max-width: 37.5em) {
  .homepage {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
.homepage__details {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 37.5em) {
  .homepage__details {
    align-items: center;
    margin-bottom: 3rem;
  }
}
.homepage__details h1 {
  font-family: "Big Shoulders Stencil Display";
  font-weight: 500;
  letter-spacing: 4px;
  word-spacing: 5px;
  font-size: 5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 56.25em) {
  .homepage__details h1 {
    font-size: 3.5rem;
    word-spacing: 2px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 37.5em) {
  .homepage__details h1 {
    margin-bottom: 2rem;
  }
}
.homepage__details p {
  color: var(--text);
  font-weight: 400;
  font-size: 2rem;
  width: 70%;
  margin-bottom: 3rem;
}
@media screen and (max-width: 56.25em) {
  .homepage__details p {
    width: 80%;
    font-size: 1.8rem;
  }
}
.homepage__buttons {
  display: flex;
}
.homepage__buttons .btn {
  position: relative;
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--secondary);
  padding: 1rem 2rem;
  border-radius: 4px;
  overflow: hidden;
}
@media screen and (max-width: 56.25em) {
  .homepage__buttons .btn {
    font-size: 2rem;
  }
}
.homepage__buttons .btn::before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  transition: 0.8s;
  z-index: -1;
}
.homepage__buttons .btn--fill {
  border: 1px solid var(--main);
  transition: filter 0.2s;
}
.homepage__buttons .btn--fill::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.homepage__buttons .btn--fill:hover::before {
  height: 180%;
  background-color: var(--main);
}
.homepage__buttons .btn--outline {
  background-color: transparent;
  transition: background-color 0.2s;
}
.homepage__buttons .btn--outline::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.homepage__buttons .btn--outline:hover::before {
  height: 180%;
  background-color: var(--main);
}
.homepage__buttons .btn:not(:last-child) {
  margin-right: 2rem;
}
.homepage__illustration {
  width: 450px;
  height: 450px;
}
@media screen and (max-width: 56.25em) {
  .homepage__illustration {
    width: 350px;
    height: 350px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
  font-size: 2rem;
}
.footer span:not(:last-child) {
  margin-right: 0.5rem;
}
.footer__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.documentation {
  width: 100%;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 4rem;
}
@media screen and (max-width: 56.25em) {
  .documentation {
    grid-template-columns: 200px 1fr;
  }
}
@media screen and (max-width: 37.5em) {
  .documentation {
    grid-template-columns: 1fr;
  }
}
.documentation .sidebar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 5rem 2rem;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 1px 0 3px var(--main);
}
.documentation .sidebar::-webkit-scrollbar {
  width: 10px;
}
.documentation .sidebar::-webkit-scrollbar-track {
  background: var(--main);
  border-radius: 10px;
}
.documentation .sidebar::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 20px;
  border: 2px solid var(--main);
}
@media screen and (max-width: 37.5em) {
  .documentation .sidebar {
    display: none;
  }
}
.documentation .sidebar .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.documentation .sidebar .brand h1 {
  font-family: "Big Shoulders Stencil Display";
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 2rem;
}
.documentation .sidebar .brand p {
  font-size: 1.5rem;
}
.documentation .sidebar .section__links {
  display: flex;
  flex-direction: column;
}
.documentation .sidebar .section__links a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--secondary);
}
@media screen and (max-width: 56.25em) {
  .documentation .sidebar .section__links a {
    font-size: 1.5rem;
  }
}
.documentation .sidebar .section__links a.active {
  color: var(--main);
}
.documentation .sidebar .section__links a:hover {
  text-decoration: underline;
}
.documentation .sidebar .section__links a:not(:last-child) {
  margin-bottom: 3rem;
}
.documentation .documentation__details {
  box-shadow: 1px 0 3px var(--main);
  padding: 4rem;
}
.documentation .documentation__details .section {
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
}
.documentation .documentation__details .section h2 {
  margin: 2rem 0;
}
.documentation .documentation__details .section__title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.documentation .documentation__details .section p {
  color: var(--text);
  width: 60%;
  letter-spacing: 1px;
  font-size: 1.8rem;
  line-height: 150%;
}
@media screen and (max-width: 56.25em) {
  .documentation .documentation__details .section p {
    width: 100%;
  }
}
.documentation .documentation__details .section .code {
  width: 80%;
  position: relative;
  display: flex;
  margin-bottom: 2rem;
}
@media screen and (max-width: 56.25em) {
  .documentation .documentation__details .section .code {
    width: 100%;
  }
}
.documentation .documentation__details .section .code pre {
  width: 100%;
  display: grid;
  place-items: center;
}
.documentation .documentation__details .section .code pre code {
  color: var(--white);
  border-radius: 5px;
  padding: 5rem;
  background-color: #555;
  word-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}
.documentation .documentation__details .section .code pre code::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.documentation .documentation__details .section .code pre code::-webkit-scrollbar-track {
  background: var(--main);
  border-radius: 5px;
}
.documentation .documentation__details .section .code pre code::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 20px;
  border: 2px solid var(--main);
}
@media screen and (max-width: 56.25em) {
  .documentation .documentation__details .section .code pre code {
    padding: 4rem;
  }
}
.documentation .documentation__details .section .code .copy-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0 5px 0 5px;
}
.documentation .documentation__details .section .code .copy-icon img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.documentation .documentation__details .section details summary {
  cursor: pointer;
}
.documentation .documentation__details .section details p {
  width: 80%;
  padding: 1rem 3rem;
  transition: all 0.2s;
}
.documentation .documentation__details .section .option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.documentation .documentation__details .section .option p {
  width: auto;
}
.documentation .documentation__details .section .option p:first-child {
  margin-right: 2rem;
}
.documentation .documentation__details .section .option .key {
  width: auto;
  font-size: 2rem;
  text-transform: capitalize;
}
.documentation .documentation__details .section .option .value {
  font-weight: 500;
}
.documentation .documentation__details .section .option .value tr td {
  padding: 1rem;
}
.documentation .documentation__details .section .option .value tr td:first-child {
  color: var(--main);
}

.error {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error img {
  display: block;
  width: 70%;
  max-width: 800px;
  height: 70%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 37.5em) {
  .error img {
    width: 90%;
    height: auto;
  }
}
.error .home--btn {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--main);
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 5px;
  transition: transform 0.2s ease;
}
.error .home--btn:is(:hover, :active) {
  transform: translateY(-2px);
}

/*# sourceMappingURL=style.css.map */
